h1, h2 {
    text-align: center;
}

ul {
    padding-inline-start: 0px;
}

input {
    border-radius: 5px;
    padding: 2px;
}

textarea {
    resize: none;
    border: 1px solid black;
}

.grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 300px;
}

.titlelist {
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.ongoing-list {
    border-right: 1px solid;
    border-left: 1px solid;
}

.todoline { 
    margin-bottom: 25px;
    text-align: center;
}

.todotask {
    display: inline-block;
    width: 100px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}

.todotask:hover {
    background-color: blanchedalmond;
}

.todo {
    border-color: red;
}

.ongoing {
    border-color: burlywood;
}

.finished {
    border-color: #00ff00;
}